<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
            <!-- Placeholder for Title -->
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />

    {% block head %} 
        <!-- Placeholder for Other Imports -->
    {% endblock %}

</head>
<body>

    <div id="header">
    {% block header %}
        <!-- Placeholder for Page Header -->
    {% endblock %}
    </div>
    <div id="content">
        {% block content %}
            <!-- Placeholder for Page Content -->
        {% endblock %}
    </div>
    <div id="footer"> Copyright RoseClade LLC © 2024 All Rights Reserved </div>
</body>
</html>