{% extends "base.html" %}



<!-- Replacement for Title -->
{% block title %}
Home - Paws Rescue Center
{% endblock %}


<!-- Replacement for Page Header-->
{% block header %}
<h1 id = "title"><center>Paws Rescue Center 🐾</center></h1>
{% endblock %}


<!-- Replacement for Page Content-->
{% block content %}

  <table>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Age</th>
      <th>Bio</th>
    </tr>
    {% for pet in pets %}
    <tr>
      <td ><img src= "{{url_for('static', filename = pet["id"]|string+".jpg")}}" height="100" ></td>
      <td><a href=" {{ url_for('pet_details', pet_id = pet['id']) }}"> {{ pet["name"] }}</a></td>
      <td>{{ pet["age"] }}</td>
      <td>{{ pet["bio"] }}</td>
    </tr>
    {% endfor %}
  </table>

{% endblock %}
